---
// Component Imports
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/styles.css";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout>
  <div id="gallery">
    <div class="card" data-id="1">Card 1</div>
    <div class="card" data-id="2">Card 2</div>
    <div class="card" data-id="3">Card 3</div>
    <!-- Add more cards as needed -->
  </div>
  <button id="generateLink">Generate Link</button>
  <a id="resultLink" href="#" style="display: none">View Selected Cards</a>

  <script>
    import "../scripts/script.js";
  </script>
</MainLayout>
