---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/styles.css";
---

<MainLayout title="selected">
    <div id="cardsContainer">
      <!-- Add all your card elements here -->
    </div>

    <script>
      import "../scripts/selected-cards.js";
    </script>
</MainLayout>
